.mdxlayout {
  display: flex;
  flex-direction: column;
  min-width: 100vw;

  &:nth-child(1),
  :nth-child(n + 2):nth-child(-n + 3),
  :nth-child(n + 5) {
    margin: 1rem;
    max-width: 75ch;
    text-wrap: pretty;
  }
  & p:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    & a {
      margin-block: auto;
    }
  }
  &:first-child {
    margin-top: var(--navbar-height);
  }
}
.wrapper:has(.mdxlayout) {
  margin: 0;
}
.content:has(.mdxlayout) {
  flex-direction: unset;
}
@media (max-width: 600px) {
  .mdxlayout:first-child {
    margin-top: unset;
  }
}
