.heading {
  color: crimson;
  margin: 1rem;
}

.mdxlayout {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.mdxlayout > *:not(img):not(figure) {
  margin: 1rem;
  max-width: 75ch;
  text-wrap: pretty;
}
.mdxlayout p:nth-of-type(1) {
  display: flex;
  justify-content: space-between;
  & a {
    margin-block: auto;
  }
}
.mdxlayout :first-child {
  margin-top: var(--navbar-height);
}

.wrapper:has(.mdxlayout) {
  margin: 0;
}
.content:has(.mdxlayout) {
  flex-direction: unset;
}
@media (max-width: 600px) {
  .mdxlayout:first-child {
    margin-top: unset;
  }
}
