.header {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(50vmin, 1fr));
  margin-top: 2rem;
  place-items: center;

  & h1 {
    text-wrap: pretty;
    max-width: 12ch;
  }
  & h3 {
    margin-bottom: 20px;
  }
}
.header p a {
  font-weight: 500;
  margin-left: 10px;

  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.header p a:hover {
  background-size: 0 3px, 100% 3px;
}
.image {
  font-style: italic;
  padding: 0;
  width: 60%;
  height: auto;
  color: currentColor;
  visibility: var(--main-image);
}
.btn {
  display: inline-block;
  z-index: 2;
  background: var(--projectBtn);
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px 20px 20px 0;
  font-weight: 500;
  font-size: clamp(0.5rem, 10vw, 1rem);
}
.btn:hover {
  opacity: 0.7;
}
.git {
  vertical-align: middle;
  &.git:hover {
    opacity: 0.7;
  }
}
@media only screen and (max-width: 600px) {
  .header {
    margin-block: 0;
    grid-template-rows: 1.5fr 1.5fr;
    & .image {
      margin: auto;
    }
  }
}
